<div class="h-screen w-screen flex items-center justify-center antialiased">
    <div class="flex flex-col items-center w-1/2">
      <div class="mb-6 text-gray-600 text-lg">
        <h1>Press to record</h1>
      </div>


      <.live_component id="microphone" module={ChirpCockroachWeb.Video.MicrophoneComponent} />
      <.live_component id="transcription" module={ChirpCockroachWeb.Video.TranscriptionComponent} stream_id="host_audio" />
    </div>
  </div>